$primaryColor: #CFAE70;  

$secondaryColor1: #CFAE70;          
$secondaryColor2: #FEEEB6;   
 
$neutralDarkGray: #777777;             
$neutralLightGray: #E4E4E4;
$neutralCream: #F5F3EF;
$neutralSand: #E0D5C0;

$black: #1C1C1C;             
$white: #FFFFFF;

$sage: #8BA18E;
$oak: #946E24;
$sky: #B3C9CD;
$highlight: #ECB748;