@import '../../../css/colors.scss';

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.lbSectionContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rankDelineator{
  width: 100%;
  background-color: transparent;
  height: 100px;
  display: flex;
  font-size: 30pt;
  font-weight: 400;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: copperplate;
  margin-bottom: 10px;
}

.rankLogo{
  width: 80px;
  height: 80px;
  margin: 0px 30px;
  background-size: contain;
  background-repeat: no-repeat;
}

.noPlayers{
  padding-left: 10px;
  padding-right: 10px;
  width: 700px;
  height: 40px;
  background-color: $black;
  color: $white;
  display: flex;
  border-radius: 4px;
  margin-top: 10px;
  margin-bottom: 5px;
  align-items: center;
  justify-content: center;
  cursor: default;
}

.noPlayer{
  width: fit-content;
  text-align: center;
  align-self: center;
}

.Challenger{
  background-image: url('/challenger.png')
}
.Grandmaster{
  background-image: url('/grandmaster.png')
}
.Master{
  background-image: url('/master.png')
}
.Diamond{
  background-image: url('/diamond.png')
}
.Emerald{
  background-image: url('/emerald.png')
}
.Platinum{
  background-image: url('/platinum.png')
}
.Gold{
  background-image: url('/gold.png')
}
.Silver{
  background-image: url('/silver.png')
}
.Bronze{
  background-image: url('/bronze.png')
}
.Iron{
  background-image: url('/iron.png')
}
.Unranked{
  background-image: url('/unranked.png')
}