@import '../../../css/colors.scss';

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}
.lbSectionContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.rankDelineator{
  width: 100%;
  background-color: transparent;
  height: 100px;
  display: flex;
  font-size: 30pt;
  font-weight: 400;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: copperplate;
  margin-bottom: 10px;

}

.rankLogo{
  width: 80px;
  height: 80px;
  margin: 0px 30px;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
}

.Challenger{
  background-image: url('/challenger.png')
}
.Grandmaster{
  background-image: url('/grandmaster.png')
}
.Master{
  background-image: url('/master.png')
}
.Diamond{
  background-image: url('/diamond.png')
}
.Emerald{
  background-image: url('/emerald.png')
}
.Platinum{
  background-image: url('/platinum.png')
}
.Gold{
  background-image: url('/gold.png')
}
.Silver{
  background-image: url('/silver.png')
}
.Bronze{
  background-image: url('/bronze.png')
}
.Iron{
  background-image: url('/iron.png')
}
.Unranked{
  background-image: url('/unranked.png')
}