@import '../../../css/colors.scss';

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rankDelineator{
  width: 100%;
  background-color: transparent;
  height: 100px;
  display: flex;
  font-size: 30pt;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: copperplate;
  margin-bottom: 10px;
}

.sectionHeading{
  width: 700px;
  height: 40px;
  background-color: $black;
  color: $white;
  display: grid;
  grid-template-columns: 100px 250px 250px 100px;
  border-radius: 4px;
  margin-top: 10px;
  margin-bottom: 8px;
  align-items: center;
}


.user{
  width: 700px;
  height: 30px;
  background-color: $black;
  color: $white;
  display: grid;
  grid-template-columns: 100px 250px 250px 100px;
  border-radius: 4px;
  margin-top: 3px;
  margin-bottom: 3px;
  align-items: center;
  transition: transform 0.3s ease-out; // Apply smooth transition for both entering and exiting hover

  // Default transform (no scaling when not hovered)
  transform: scaleX(1) scaleY(1);
}
.user:hover{
  transition: transform 0.3s ease; // Add smooth transform transition
  transform: scaleX(1.01) scaleY(1.1);  // 1.1 for width, 1.05 for height
}


.username{
  margin-left: 15px;
}

.place{
  margin-left: 15px;
  cursor: default;
}


.rank{
  display: inline;
  white-space: nowrap;
  margin-left: 15px;
  cursor: default;
}

.classOf{
  margin-left: 15px;
  cursor: default;
}

.lbSection{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}


.seperator{
  width: 2px;
  height: 30px;
  background-color: $white;
  border-radius: 1px;
}

.smallSeperator{
  width: 2px;
  height: 22px;
  border-radius: 1px;
  background-color: $white;
}

.rankLogo{
  width: 80px;
  height: 80px;
  margin: 0px 30px;
  background-size: contain;
  background-repeat: no-repeat;
}

.noPlayers{
  padding-left: 10px;
  padding-right: 10px;
  width: 800px;
  height: 40px;
  background-color: $black;
  color: $white;
  display: flex;
  border-radius: 4px;
  margin-top: 10px;
  margin-bottom: 5px;
  align-items: center;
  justify-content: center;
  cursor: default;
}

.noPlayer{
  width: fit-content;
  text-align: center;
  align-self: center;
}

.Challenger{
  background-image: url('../../../images/challenger.png')
}
.Grandmaster{
  background-image: url('../../../images/grandmaster.png')
}
.Master{
  background-image: url('../../../images/master.png')
}
.Diamond{
  background-image: url('../../../images/diamond.png')
}
.Emerald{
  background-image: url('../../../images/emerald.png')
}
.Platinum{
  background-image: url('../../../images/platinum.png')
}
.Gold{
  background-image: url('../../../images/gold.png')
}
.Silver{
  background-image: url('../../../images/silver.png')
}
.Bronze{
  background-image: url('../../../images/bronze.png')
}
.Iron{
  background-image: url('../../../images/iron.png')
}
.Unranked{
  background-image: url('../../../images/unranked.png')
}