@import '../../../css/colors.scss';

.loginContainer{
  width: 100vw;
  min-height: calc(100vh - 100px);
  background-color: $primaryColor;
  display: grid;
  grid-template-columns: 33% 1fr;
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(+100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.loginColumn {
  background-color: #807b6c;
  min-height: calc(100vh - 100px);
  left: 0;
  display: flex;
  padding-top: 10%;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  transition: transform .75s ease;
}

.loginColumn.slide-in-left {
  animation: slideInLeft .75s forwards;
}

.titleColumn.slide-in-right {
  animation: slideInRight .75s forwards;
}

.loginColumn.slide-out {
  animation: slideOut 0.5s forwards;
}

.titleColumn.slide-out {
  animation: slideOut 0.5s forwards;
}


.loginTitle{
  font-size: 24pt;
}

.titleColumn{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 30pt;
  transition: transform .75s ease;
}

.input{
  background-color: lighten($primaryColor, 5%);
  border-radius: 8px;
  padding-left: 5px;
  font-size: 12pt;
  height: 30px;
  width: 300px;
  border: none; 
  outline: none; 
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); 
}

.input:focus-visible{
  outline: none;
  background-color: $secondaryColor2;
}

.input::placeholder{
  color: black
}


.input.email{
  margin: 40px 0px 0px 0px;
}

.input.password{
  margin: 20px 0px 0px 0px;
}


.usernameContainer{
  margin: 20px 0px 0px 0px;
}

.input.username{
  width: 200px;
  border-right: none;
  border-radius: 0px;
  border-radius: 8px 0px 0px 8px;
}

.input.tagline{
  width: 100px;
  border-left: none;
  border-radius: 0px 8px 8px 0px;
}

.input.class {
  margin: 20px 0px 0px 0px;
  appearance: none; /* Removes default styles in some browsers */
  -moz-appearance: textfield; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
  outline: none; /* Removes outline if you click */
}

/* Hides the spinner buttons in Webkit browsers */
.input.class::-webkit-inner-spin-button, 
.input.class::-webkit-outer-spin-button {
  -webkit-appearance: none; /* Chrome and Safari */
  margin: 0; /* Removes margin */
}

.vanderbiltStar{
  width: 100px;
  height: 100px;
  background-image: url('/vanderbiltstar.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 20px;
  border: none;
}

.signUpForm{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.formError{
  color: darkred;
  margin-top: 10px;
  text-shadow: 0 0 1px white;
  font-weight: bolder;
}

.submitButton{
  color: $black;
  border-radius: 10px;
  width: 100px;
  height: 30px;
  margin-top: 20px;
  background: linear-gradient(to right, $secondaryColor2,  $secondaryColor1, );;
  border: none; 
  outline: none; 
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); 
}


@media (max-width: 1080px) {
  .loginContainer{
    grid-template-columns: 40% 1fr;
  }
  .vanderbiltStar{
    width: 80px;
    height: 80px;
  }

  .title{
    font-size: 30pt;
  }
}

@media (max-width: 900px) {
  .titleColumn{
    display: none;
  }
  .loginContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}