@import '../../css/colors.scss';

.leaderboardContainer{
  position: fixed;
  width: 90vw;
  background-color: $primaryColor;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rankDelineator{
  width: 100%;
  background-color: $neutralLightGray;
  height: 100px;
}

.sectionHeading{
  padding-left: 10px;
  padding-right: 10px;
  width: 800px;
  background-color: $neutralCream;
  height: 40px;
  display: grid;
  grid-template-columns: 150px 400px 100px;
  border-radius: 4px;
  margin-top: 10px;
  margin-bottom: 5px;
  align-items: center;
}


.user{
  width: 100%;
  background-color: $black;
  color: $primaryColor;
  display: grid;
  grid-template-columns: 100px 400px 100px;
}

.place{
  
}