@import '../../css/colors.scss';

.homepageContainer{
  width: 100vw;
  min-height: calc(100vh - 100px);
  background-color: $primaryColor;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title{
  background-color: transparent;
  color: $black;
  font-size: 30pt;
  font-weight: 400;
  font-family: copperplate;
  margin: 30px 0px 20px 0px;
}

.column{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  background-color: transparent;
}

.loading{
  color: $black;
  background-color: transparent;
  font-size: 30pt;
  font-weight: 400;
  font-family: copperplate;
  margin-top: 200px;
}

.loading::after {
  content: '.';
  animation: dots 1s steps(1) infinite;
}

@keyframes dots {
  0% {
    content: '.';
  }
  33% {
    content: '..';
  }
  66% {
    content: '...';
  }
  100% {
    content: '';
  }
}