@import '../../css/colors.scss';
@import '../../css/tokens.scss';
@import '../../css/mixins.scss';

.homepageContainer {
  width: 100%;  // FIX: Changed from 100vw
  min-height: calc(100vh - 6.25rem);  // Account for header
  background-color: $primaryColor;
  color: $black;

  display: flex;
  flex-direction: column;
  align-items: center;

  // Add padding for breathing room
  padding: $space-5 $space-4;

  @include md {
    padding: $space-6 $space-5;
  }
}

.title {
  background-color: transparent;
  color: $black;
  font-size: $font-size-2xl;  // 32px - closer to original 30pt
  font-weight: $font-weight-normal;
  font-family: copperplate, serif;

  margin-bottom: $space-4;
  text-align: center;

  // Add subtle text shadow for depth
  @include text-shadow(0.1);
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $space-3;  // Reduced gap
  background-color: transparent;
  width: 100%;
}

.loading {
  color: $black;
  background-color: transparent;
  font-size: $font-size-2xl;  // 32px
  font-weight: $font-weight-normal;
  font-family: copperplate, serif;
  margin-top: $space-10;

  &::after {
    content: '.';
    animation: dots 1s steps(1) infinite;
  }
}

@keyframes dots {
  0% {
    content: '.';
  }
  33% {
    content: '..';
  }
  66% {
    content: '...';
  }
  100% {
    content: '';
  }
}
