@import '../../../css/colors.scss';

.homepageContainer{
  width: 100vw;
  min-height: calc(100vh - 100px);
  background-color: $primaryColor;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title{
  color: $black;
  font-size: 30pt;
  font-weight: 400;
  font-family: copperplate;
  margin: 30px 0px 20px 0px;
}