@import '../../../css/colors.scss';

.buttonDefault{
  height: 40px;
  width: 80px;
  border-radius: 10px;
  font-weight: 540;
  font-size: 14pt;
  background: linear-gradient(to right, $secondaryColor2,  $secondaryColor1, );;
  color: $black;
  border-color: $secondaryColor2;
  cursor: pointer;
}