@import '../../css/colors.scss';

.headerContainer{
  height: 100px;
  width: 100vw;
  background-color: $black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px 5px 20px;
}

.title{
  font-size: 24pt;
  color: $primaryColor;
  margin: 0 0 0 0;
  text-align: center;
}

.accountNav{
  width: 220px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.vanderbiltLogo{
  width: 50px;
  height: 50px;
  background-image: url('../../app/vanderbilt.svg');
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 10px;
}