@import '../../../css/colors.scss';

.leaderboardContainer{
  width: 90vw;
  height: 100%;
  background-color: $primaryColor;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}