$primaryColor: #CFAE70;  

$secondaryColor1: #CFAE70;          
$secondaryColor2: #FEEEB6;   
 
$neutralDarkGray: #bde0fe;             
$neutralLightGray: #a2d2ff;
$neutralCream: #F5F3EF;
$neutralSand: #E0D5C0;

$black: #1C1C1C;             
$white: #FFFFFF;